[submodule "inventory-app"]
	path = inventory-app
	url = https://github.com/0xlislim/inventory-app.git
[submodule "billing-app"]
	path = billing-app
	url = https://github.com/0xlislim/billing-app.git
[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/0xlislim/api-gateway.git
[submodule "infrastructure-configuration"]
	path = infrastructure-configuration
	url = https://github.com/0xlislim/infrastructure-configuration.git
